<div>
  <div>
    <h1>
      List of all inputs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new input
    </h2>

    <form action="/insert_input" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <div>
        <label for="subject_box">
          Subject
        </label>

        <input type="text" id="subject_box" name="query_subject">
      </div>

      <div>
        <label for="attempts_count_box">
          Attempts count
        </label>

        <input type="text" id="attempts_count_box" name="query_attempts_count">
      </div>

      <button>
        Create input
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Body
        </th>

        <th>
          Status
        </th>

        <th>
          Subject
        </th>

        <th>
          Attempts count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_inputs.each do |an_input| %>
      <tr>
        <td>
          <%= an_input.id %>
        </td>

        <td>
          <%= an_input.user_id %>
        </td>

        <td>
          <%= an_input.body %>
        </td>

        <td>
          <%= an_input.status %>
        </td>

        <td>
          <%= an_input.subject %>
        </td>

        <td>
          <%= an_input.attempts_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_input.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_input.updated_at) %> ago
        </td>

        <td>
          <a href="/inputs/<%= an_input.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
