<div>
  <div>
    <h1>
      List of all attempts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new attempt
    </h2>

    <form action="/insert_attempt" method="post">
      <div>
        <label for="input_id_box">
          Input
        </label>

        <input type="text" id="input_id_box" name="query_input_id">
      </div>

      <div>
        <label for="agent_id_box">
          Agent
        </label>

        <input type="text" id="agent_id_box" name="query_agent_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create attempt
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Input
        </th>

        <th>
          Agent
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_attempts.each do |an_attempt| %>
      <tr>
        <td>
          <%= an_attempt.id %>
        </td>

        <td>
          <%= an_attempt.input_id %>
        </td>

        <td>
          <%= an_attempt.agent_id %>
        </td>

        <td>
          <%= an_attempt.status %>
        </td>

        <td>
          <%= time_ago_in_words(an_attempt.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_attempt.updated_at) %> ago
        </td>

        <td>
          <a href="/attempts/<%= an_attempt.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
